html{
    background-image: url(/Images/Pink\ Watercolor\ Gradient\ Flower\ Linktree_20251101_025909_0000.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
}



header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 40%, rgba(0, 0, 0, 0) 100% );
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: rgba(255,255, 255, 1);
    padding: 8px 12px;
    display: block;
}

h1{
    margin-top: 100px;
    font-size: 70px;
    text-align: center;
}



.nav-links {
    display: none; /* Hide links on mobile by default */
  }
  
  .menu-toggle {
    font-size: 30px;
    cursor: pointer;
    display: block;
  }
  
  /* Show nav-links and hide toggle on large screens */
  @media(min-width: 768px) {
    .nav-links {
      display: flex;
    }
    .menu-toggle {
      display: none;
    }
  }
  
  /* Show nav-links when active */
  .nav-links.active {
    display: block;
    background: #333;
  }
  .nav-links a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
  }

  .quitetime {
    background-color: rgba(240, 255, 255, 0.801);
    padding: 5%;
    margin: 10%;
    margin-top: auto;

  }