*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: medium ;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    min-height: 100px;
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 50%, rgba(0, 0, 0, 0) 100% );
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    position: fixed;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: rgba(255,255, 255, 1);
    padding: 8px 12px;
    display: block;
}


#blog-name{
    width: 100%;
    min-height: 400px;
    align-content: center;
    text-align: center;
}

h1{
    font-size: 100px;
    text-align: center;
    color: aliceblue;
}

h2 {
  font-size: 24px;
  color: aliceblue;
  font-style: italic;
}

.nav-links {
    display: none; /* Hide links on mobile by default */
  }
  
  .menu-toggle {
    font-size: 30px;
    cursor: pointer;
    display: block;
  }
  
  /* Show nav-links and hide toggle on large screens */
  @media(min-width: 768px) {
    .nav-links {
      display: flex;
    }
    .menu-toggle {
      display: none;
    }
  }
  
  /* Show nav-links when active */
  .nav-links.active {
    display: block;
    background: #333;
  }
  .nav-links a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
  }

  main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgb(0,0,0,0.5)50%,  rgb(0,0,0,0.5)50%) ,url(/assets/Images/Pink\ blossom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%; 
}

#motto {
    width: 100%;
    min-height: 200px;
    align-content: center;
    text-align: center;
}

#about-me
{
  width: 100%;
  min-height: 200px;
  background-color: pink;
  margin: auto;
  text-align: center;
  padding: 10%;
  display: flex;
  overflow: hidden; /*contains children*/
  justify-content: space-around;
  align-content: center;

}

#about-me-paragraph
{width: 50%;
  min-height: auto;
  background-color: yellow;
  float: right;
  padding: 20px;

}
#about-me-picture
{width: 50%;
  min-height: 30px;
  background-color: yellow;
  float: left;
  padding: 20px;

}
#quotes
{
  width: 100%;
  min-height: 50vh;
  background-color: rgb(236, 40, 73);
  margin: auto;
  text-align: center;
  padding: 10%;
  position: relative;
}

.quotes-slide-fade
{
  display: none;
  width: 100%;
}

.quotes-slide-fade img 
{
  width: 100%;
  height:auto;
}

.fade { animation: fade 1.5s;} @keyframes fade { from {opacity: .4} to {opacity: 1}}
.prev, .next { position:absolute; top:50%; font-size:18px; cursor: pointer;}

#products
{
  width: 100%;
  min-height: 50vh;
  background-color: pink;
  display: flex;
  overflow: hidden; /*contains children*/
  justify-content: space-around;
  align-content: center;
}

.box 
{width: 30%;
  height: 60%;
  background-color: yellow;
}

#latest-blog
{
  width: 100%;
  min-height: 50vh;
  background-color: rgb(236, 40, 73);
  margin: auto;
  text-align: center;
  padding: 10%;
}
#footer
{
  width: 100%;
  min-height: 50vh;
  background-color: pink;
  margin: auto;
  text-align: center;
  padding: 10%;
}

#about-image-holder
{
  width: 25%;
  height: 100% ;
  background-color: black;
}
