*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: medium ;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    min-height: 100px;
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 50%, rgba(0, 0, 0, 0) 100% );
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    position: fixed;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: rgba(255,255, 255, 1);
    padding: 8px 12px;
    display: block;
}


#blog-name{
    width: 100%;
    min-height: 400px;
    align-content: center;
    text-align: center;
}

h1{
    font-size: 100px;
    text-align: center;
}

.nav-links {
    display: none; /* Hide links on mobile by default */
  }
  
  .menu-toggle {
    font-size: 30px;
    cursor: pointer;
    display: block;
  }
  
  /* Show nav-links and hide toggle on large screens */
  @media(min-width: 768px) {
    .nav-links {
      display: flex;
    }
    .menu-toggle {
      display: none;
    }
  }
  
  /* Show nav-links when active */
  .nav-links.active {
    display: block;
    background: #333;
  }
  .nav-links a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
  }

  main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgb(0,0,0,0.5)50%,  rgb(0,0,0,0.5)50%) ,url(/assets/Images/Pink\ blossom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%; 
    margin-bottom: 30px;  
}

#motto {
    width: 100%;
    min-height: 200px;
    align-content: center;
    text-align: center;
}

h2 {
    font-size: 70px;
}

#quite-time
{
  width: 80%;
  height: 100vh;
  background-color: pink;
  margin: auto;
  text-align: center;
  padding: 10%;
}

#quite-time h3
{
  font-size: 24px;
  margin-bottom: 10px;
}

#message
{
  text-align: left;
  margin-bottom: 10px;
}

#message p
{
  margin: 10px;
}
#quite-time time
{
  font-style: italic;
  text-align: left;
  font-size: 13px;
}