html {
    font-size: 18px;
}

body {
    background-color: #333;
    color: whitesmoke;
}

a {
    color: aliceblue;
}

a:visited {
    color: lightgray;
}

a:hover {
    color: #eee;
}

.notes{
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20%;
    padding-right: 20%;
    }

h2 {
    padding-left: 20%;
    padding-right: 20%;
    padding-top:10%;
    color: red;
}