html {
    font-size: 18px;
}

body {
    background-color: #333;
    color: whitesmoke;
}

a {
    color: aliceblue;
}

a:visited {
    color: lightgray;
}

a:hover {
    color: #eee;
}

.notes{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20%;
    padding-right: 20%;
    }

h2 {
    padding-left: 20%;
    padding-right: 20%;
    color: rgb(0, 255, 0);
}

h3 {
    color: rgb(3, 121, 3);
}